<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trash To Treasure</title>
    <link rel="stylesheet" href="/homepg.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <header>
        <nav>
                <div class="phone">
                    <i class="fa-solid fa-phone"></i>
                    <span>6205324825</span>
                        <i class="fa-solid fa-envelope"></i>
                        <span style="color: white;">trashtotreasure@gmail.com</span>
                </div>
            <div class="social-media">
                <button><i class="fa-brands fa-whatsapp"></i></button>
                <button><i class="fa-brands fa-linkedin"></i></button>
                <button><i class="fa-brands fa-x-twitter"></i></i></button>
                <button><i class="fa-brands fa-instagram"></i></i></button>
                <button><i class="fa-brands fa-youtube"></i></i></button>
                <button><i class="fa-brands fa-facebook"></i></i></button>
            </div>
        </nav>
        <div class="pages">
            <div class="logo">
                <div class="font">TRASH2TREASURE</div>
            </div>
            <div class="content">
                <button class="normalbtn1">Home</i></button>
                <button class="normalbtn">Products <i class="fa-solid fa-angle-down"></i></button>
                <button class="normalbtn">Company <i class="fa-solid fa-angle-down"></i></button>
                <button class="normalbtn">Explore <i class="fa-solid fa-angle-down"></i></button>
                <button class="normalbtn">Contact <i class="fa-solid fa-angle-down"></i></button>
                <a href="/home/login"><button class="specialbtn">Login/Register</button></a>
                </div>
            </div>
        </div>
        </header>
        <div class="background">
            <div class="intro">
                <h1>Unsegretated waste is a health hazard.</h1>
                <h2>We help you get rid of it!</h2>
                <button class="btn1">View Product</button>
                <button class="btn2">Learn More</button>
            </div>
        </div>
        <div class="boxes">
            <div class="box1">
                <div class="box1con">
                <i class="fa-solid fa-gear"></i>
                <!-- <i class="fa-solid fa-gear"></i>
                <i class="fa-solid fa-gear"></i> -->
                <h1>20+</h1>
                <h2>Zero Waste Facilities</h2>
            </div>
        </div>
        <div class="box2">
            <div class="box2con">
            <i class="fa-solid fa-trash"></i>
            <h1>Over 30000+</h1>
            <h2>Tonnes of waste prevented from going into the landfills</h2>
            </div>
        </div>
      <div class="box3">
        <div class="box3con">
           <i class="fa-solid fa-earth-americas"></i>
          <h1>6 States</h1>
          <h2>2 countries</h2>
        </div>
     </div>
    <div class="box4">
        <div class="box4con">
        <i class="fa-solid fa-user"></i>
        <h1>Over 2 Million+</h1>
        <h2>Lives positively impacted</h2>
        </div>
     </div>       
    </div>

    <div class="about">
        <div class="headings">
            <h1>About TRASH TO TREASURE</h1>
        <div class="descript1">
            Today, the waste is either being dumped or burnt causing 22 different types of diseases including COVID. Manual
            <div>segregation is humanly not possible. Even if it is possible, isn’t it inhuman?</div>
        </div>
        <div class="descript2">
            We provide complete end-to-end technology that sorts the waste and recycles it, thus providing a comprehensive solution 
            <div>to convert every bit of waste to value.</div>
        </div>
    </div>
   </div>
   <div class="products">
    <h1>OUR PRODUCTS</h1>
   </div>
   <div class="procont">
    <div class="procont1">
       <h1>T2T Sell Scrap</h1>
       <div>Generate value from unsegretated waste using automated sorting technology</div>
       <div>Stop Burning | Prevent Dumping | Prevent Diseases | Create Zero-Waste Communities</div>
        <button>Learn More</button>
    </div>
    <div class="procont2">
        <h1>WoW Products</h1>
       <div>Save the planet by adopting high quality recycled products</div>
       <div>Prevent Burning | Save Trees | Recycle Plastic</div>
       <button>Learn More</button>
    </div>
   </div>
   <div class="testimonial">
    <h1>Success Stories</h1>
    <div>Using [Trash To Treasure] has been a game-changer for my business. As someone who regularly buys and sells scrap metal, I needed a platform that was reliable, transparent, and easy to use. This site provided me with exactly that! The process of listing and purchasing scrap is straightforward, and I love how quickly I can connect with trusted sellers and buyers. Their customer service is top-notch too, always available when I have questions. It has definitely streamlined my scrap trading operations. Highly recommended!"

        – [Eww], Scrap Trader/Business Owner</div>
        
        <div class="test1">
         <img src="https://photoheads.co.uk/wp-content/uploads/2020/05/headshot-with-client-testimonial.jpg" alt="photo1">
         <div class="test1txt">Dipesh Kumar CEO | ABC COMPANY</div>
        </div>
    </div>
    